<form style="font-size:18px;">
  <div class="form-group">
    <label for="exampleInputEmail1">Enter your shared Spotify or Apple Music URL</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
  </div>
  <!--<div class="form-group">-->
    <!--<label for="exampleInputPassword1">Enter your shared Apple Music URL</label>-->
    <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
  <!--</div>-->
    <hr /><br/>
</form>